<form action="/feedback" method="post">
      User: <input type="text" name="user" value="">
      Feedback: <input type="text" name="feedback" value="">
      <input type="submit" name="" value="Submit">
    </form>
